# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sonarlint/
encodings.xml
markdown.xml
misc.xml
modules.xml
sonarlint.xml
sonarlint-state.xml
vcs.xml
/prettier.xml
